@page "/nganhs"
@using Assm6.Client.Components
@using Assm6.Client.Components.NganhTable
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<div class="row">
    <div class="col-md-5">
        <Search OnSearchChanged="SearchChanged"/>
    </div>
    <div class="col-md-2">
        <a href="/createNganh">Tạo Mới Ngành</a>
    </div>
</div>
<div class="row">
    <NganhTable Nganhs="NganhList" />
</div>
<div class="row">
    <div class="col">
        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
    </div>
</div>